<div class="card card-body mb-2">
  <p><b>First name:</b> {{user.firstName}} </p>
  <p><b>Last name:</b> {{user.lastName}}</p>
  <p><b>Email:</b> {{user.email}}</p>
  <p><b>Date creation account:</b> {{formatDate user.date 'MMMM Do YYYY'}}</p>
</div>
