 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <!-- awsome for icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/chat.css">

    <title>QuickEvent</title>
  </head>

  <body>
    {{> _navbar}}   <!-- to show the navbar in every single page -->

    <div class="container">
      {{> _notify}} <!-- to show real-time notifies -->
      {{> _msg}}    <!-- to show notification messages -->
      {{> _errors}}
      {{{body}}}    <!-- to show in the page everything sent with render(); -->
    </div>

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

      <!-- ckeditor (to add form details options) -->
    <script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>

    <script>
      CKEDITOR.replace('details',{
        plugins: 'wysiwygarea,toolbar,basicstyles,link'
      });
    </script>

      <!-- jquery and socket.io (to handle chat and notifies) -->
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      /********** Handle NOTIFIES and CHAT throw WebSocket and Socket.io *********/
      $(function () {
        var socket = window.io.connect('http://localhost:5000/', {transports:['websocket']});

        /// Notifies Management
        socket.on($('#email').val()+"ack", function(data){
            $("#waiting").html("");
            $('#start').css('display', 'block');
            $('#notifies').css('display', 'none');
        });

        socket.on($('#email').val(), function(data){
          $('#notifies').prepend('<div class="alert alert-info"><i class="fa fa-comments"></i><strong> ' + data + '</strong></div>');
          setTimeout(function() { $('#notifies').html(''); }, 10000);
        });


        /// Chat Management
        $('#ws-form').submit(function(){
          socket.emit('chat', {
            message: $('#message').val(),
            handle: $('#handle').val()
          });
          $('#message').val('');
          return false;
        });

        $('#message').keypress(function(){
          socket.emit('typing', $('#handle').val());
        });

        socket.on("chat"+$('#email').val(), function(data){
          $('#type').html('');
          $('#output').append(data.toString());
          window.scrollTo(0, document.body.scrollHeight);
          document.getElementById("chat-window").scrollTo(0, document.body.scrollHeight);
        });

        socket.on('chat', function(data){
          $('#type').html('');
          $('#output').append('<p><strong>' + data.handle + ': </strong>' + data.message + '</p>');
          window.scrollTo(0, document.body.scrollHeight);
          document.getElementById("chat-window").scrollTo(0, document.body.scrollHeight);
        });

        socket.on('typing', function(data){
          $('#type').html('<p><em>' + data + ' is typing a message...</em></p>');
        });
      });
    </script>
  </body>
</html>
