<div id="welcome" class="card card-body mb-2">
    <font face="Verdana"></font><h1 align="center">
        Welcome to QuickEvent
    </h1></font>
    <div id="img" align="center">
        <img src="/image/qelogo.jpg" alt="LOGO" width="150" height="150"></img>
    </div><br><br><br>
    <div id="waiting" align="center"><h4><b>Wait a few seconds...</b></h4></div>
    <a class="nav-link" href="/">
        <button id="start" type="button" style="display: none" class="btn btn-primary btn-block">Start Now</button>
    </a>
</div>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    /********** Handle Notifies Message throw WebSocket and Socket.io *********/
    $(document).ready(function(){
        $("nav").css('display', 'none');
        $("#welcome").css('margin-top', '200px');

        var socket = window.io.connect('https://quickeventapp.herokuapp.com/', {transports:['websocket']});

        // Send an event that activates notification queue
        socket.emit('notify', $('#email').val());
    });
</script>
